---
import CONTACT_INFO from "@data/contactInfo";
---

<div id="about-us">
  <section class="pt-32 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-screen-xl">
      <h1
        class="text-4xl font-semibold text-center text-wrap mx-auto tracking-wide uppercase"
      >
        Sobre mí
      </h1>
      <article
        class="flex flex-col md:flex-row justify-between items-center p-5"
      >
        <img
          class="hidden md:block
            relative rounded-xl
            backdrop-blur-md
            border border-yellow_primary
            shadow-inner shadow-yellow_primary/10
            group w-[500px]"
          src="/assets/about_us.webp"
          alt="Teatro Serpiente"
        />
        <div class="flex flex-col p-5 lg:ml-10 text-lg my-4 text-yellow-50">
          <p>
            TEATROSERPIENTE es una metodología de actuación creada por Nicole
            Chort. En nuestras clases, el teatro es el camino que nos lleva a
            cambiar la piel. Como las serpientes, nos quitamos aquello que no
            necesitamos para aprender a ser nosotros mismos. No. Esto no es solo
            teatro. Esto es mucho más que sólo actuar. En nuestros talleres
            aprenderás a poner en palabras lo que te pasa, a conocerte, a
            cuestionar, a construir un lugar seguro, a relacionarte con el otrx,
            a hacer preguntas críticas y a buscar respuestas. ¿Estás listx para
            cambiar la piel? Entonces, este es el lugar para vos. Además de los
            talleres anuales de teatro, tenemos varios seminarios y talleres
            intensivos, que se dan en diferentes momentos del año. No tenemos
            fechas específicas de los talleres, vamos anunciando por <a
              href={CONTACT_INFO.social.instagram}
              target="_blank"
              class="text-yellow_primary hover:underline"
              rel="noopener noreferrer">Instagram</a
            >
            cada vez que abrimos fechas nuevas!
          </p><br />
          <li class="text-yellow_primary">
            <b>INTENSIVO NOTECOMÁSLAPELI:</b><span class="text-white">
              nuestro taller de actuación frente a cámara para adolescentes
              junto con la Gina Bonfanti, profe de cine y artes audiovisuales.
            </span>
          </li>
          <br />
          <li class="text-yellow_primary">
            <b>SEMINARIOS DE VERANO:</b><span class="text-white">
              son talleres intensivos de un mes en los que trabajamos dinámicas
              relacionadas a la actuación. Duran un mes y tienen lugar en
              diciembre o en febrero. No es necesario asistir a los talleres
              anuales para realizarlos.
            </span>
          </li>
        </div>
      </article>
    </div>
  </section>
</div>
