<div id="about-us">
  <section class="pt-32 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-screen-xl">
      <h1
        class="text-4xl font-semibold text-center text-wrap mx-auto tracking-wide uppercase"
      >
        Sobre mí
      </h1>
      <article
        class="flex flex-col md:flex-row justify-between items-center p-5"
      >
        <img
          class="hidden md:block
            relative rounded-xl
            backdrop-blur-md
            border border-yellow_primary
            shadow-inner shadow-yellow_primary/10
            group w-[500px]"
          src="/assets/about_us.webp"
          alt="Teatro Serpiente"
        />
        <div class="flex flex-col p-5 lg:ml-10">
          <p class="text-lg my-4 text-yellow-50">
            TEATROSERPIENTE es nuestra marca: una metodología de actuación
            creada por Nicole Chort. En nuestras clases, el teatro es el camino
            que nos lleva a cambiar la piel. Como las serpientes, nos quitamos
            aquello que no necesitamos para aprender a ser nosotros mismos. No.
            Esto no es solo teatro. Esto es mucho más que sólo actuar. En
            nuestros talleres aprenderás a poner en palabras lo que te pasa, a
            conocerte, a cuestionar, a construir un lugar seguro, a relacionarte
            con el otrx, a hacer preguntas críticas y a buscar respuestas.
            ¿Estás listx para cambiar la piel? Entonces, este es el lugar para
            vos.
          </p>
        </div>
      </article>
    </div>
  </section>
</div>
