---
import Logo from "@components/Logo.astro";
import InstagramIcon from "@icons/Instagram.astro";
import GitHubIcon from "@icons/GitHub.astro";
---

<footer class="bg-black/40 relative mb-5">
  <div class="p-4 pb-14 flex flex-col md:mb-0 items-center justify-center">
    <a
      href="https://www.instagram.com/teatroserpiente/"
      class="text-white hover:scale-125 duration-500"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Logo class="w-56 m-auto" />
    </a>
    <h2 class="my-2 text-lg font-semibold uppercase text-white">
      Seguinos en nuestras redes
    </h2>
    <a
      href="https://www.instagram.com/teatroserpiente/"
      class="text-white hover:scale-125 duration-500"
      target="_blank"
      rel="noopener noreferrer"
    >
      <InstagramIcon />
      <span class="sr-only">Instagram</span>
    </a>
  </div>
  <div class="absolute bottom-0 pl-4 -mt-5 left-0 flex flex-col items-start">
    <a
      href="https://github.com/ChortJulio/teatro-serpiente"
      class="text-white"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="hover:scale-125 duration-500 mb-1">
        <GitHubIcon />
      </div>
      <span class="sr-only">GitHub</span>
    </a>
    <p class="text-xs uppercase text-white">Producido por Chort Julio</p>
  </div>
  <div class="container mx-auto px-4">
    <div class="text-center">
      <p>
        &copy; {new Date().getFullYear()} Teatro Serpiente. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
