<header class="px-4 sm:px-6 lg:px-8">
  <section class="flex flex-col md:flex-row justify-between items-center p-5">
    <div class="flex flex-col p-5">
      <h1 class="text-4xl font-black">TEATROSERPIENTE ● Cambiá la piel.</h1>
      <p class="text-lg my-4 text-yellow-50">
        ¡Hola viboritos y viboritas! Los saluda Nicole, la creadora de esta
        metodología de actuación que desarrollamos en Santa Fe, Argentina. Desde
        el corazón del litoral, nuestras clases de actuación y autoconocimiento
        les ofrecerán una experiencia única! Preparensé para sumergirse en un
        mundo de arte, creatividad y muuuuuuucha intensidad! Desde el momento en
        el que pasen la puerta de nuestras clases, vamos a descubrir los
        secretos de nuestras serpientes interiores, que reposan enroscadas
        esperando a que las invitemos a despertar. SPOILER ALERT! Esto no es
        solo teatro. Quizás… no sea teatro. O sí. Este es el refugio donde lo
        cotidiano cobra sentido, donde aprendemos a vivir más felices. Donde
        podemos ser otrxs. Encontrá tu brillo propio, en comunidad.
      </p>
      <h1 class="text-2xl font-black">Cambiá la piel, cambiá tu vida.</h1>
      <div class="mt-10 w-full text-center">
        <a
          class="inline-block w-full rounded-lg px-8 py-3 font-bold sm:w-auto bg-yellow_primary/80 hover:bg-yellow_primary text-black hover:scale-110 transition-all duration-500"
          href="#contact-form"
        >
          ¡Contactanos!
        </a>
      </div>
    </div>
    <img
      class="w-full md:w-1/2 hidden md:block
  relative rounded-xl
  backdrop-blur-md
  border border-yellow_primary
  shadow-inner shadow-yellow_primary/10
  group"
      src="/assets/example-header-pic.webp"
      alt="Teatro Serpiente"
    />
  </section>
</header>
