<header class="px-4 sm:px-6 lg:px-8">
  <section
    class="flex flex-col md:flex-row justify-between items-center mt-24 p-5"
  >
    <div class="flex flex-col p-5">
      <h1 class="text-4xl font-black">TEATROSERPIENTE ● Cambiá la piel.</h1>
      <p class="text-lg my-4 text-yellow-50">
        ¡Hola viboritos y viboritas! Soy Nicole, la creadora de marca teatral de
        Santa Fe, Argentina. Desde los paisajes del litoral, esta metodología de
        actuación y autoconocimiento les ofrecerá una experiencia única.
        Preparate para sumergirte en un mundo de arte, creatividad y emoción.
        Desde el momento en que pases la puerta de nuestras clases, vamos a
        descubrir los secretos de tu propia serpiente enroscada. Esto no es solo
        teatro. Quizás, no sea teatro. Este es el refugio donde lo cotidiano
        cobra sentido, donde aprendemos a vivir más felices. Donde podemos ser
        otrxs. Encontrá tu brillo propio, en comunidad.
      </p>
      <h1 class="text-2xl font-black">Cambiá la piel, cambiá tu vida.</h1>
      <div class="mt-10 w-full text-center">
        <a
          class="inline-block w-full rounded-lg px-8 py-3 font-bold sm:w-auto bg-yellow_primary/80 hover:bg-yellow_primary text-black hover:scale-110 transition-all duration-500"
          href="#contact-form"
        >
          ¡Contactanos!
        </a>
      </div>
    </div>
    <img
      class="w-full md:w-1/2 hidden md:block
  relative rounded-xl
  backdrop-blur-md
  border border-yellow_primary
  shadow-inner shadow-yellow_primary/10
  group"
      src="/assets/example-header-pic.webp"
      alt="Teatro Serpiente"
    />
  </section>
</header>
