<header class="px-4 sm:px-6 lg:px-8">
  <section
    class="flex flex-col md:flex-row justify-between items-center mt-24 p-5"
  >
    <div class="flex flex-col p-5">
      <h1 class="text-4xl font-bold">
        Bienvenidos al Teatro Serpiente - Cambiá la piel y renová tus sentidos
      </h1>
      <p class="text-lg mt-4 text-yellow-50">
        ¡Bienvenidos al Teatro Serpiente! Soy Nicole, la directora de este
        maravilloso espacio cultural en el corazón de Santa Fe, Argentina. Acá,
        en el Teatro Serpiente, nos enorgullecemos de ofrecer una experiencia
        teatral única que invita a nuestros espectadores a sumergirse en un
        mundo de arte, creatividad y emoción. Desde el momento en que ponen un
        pie en nuestro teatro, son recibidos por la sinuosidad y el misterio de
        nuestra fachada, que evoca la elegancia y la profundidad de una
        serpiente enroscada.
      </p>
      <div class="mt-8 w-full text-center">
        <a
          class="inline-block w-full rounded-lg px-8 py-3 font-bold sm:w-auto bg-yellow_primary/80 hover:bg-yellow_primary text-black hover:scale-110 transition-all duration-300"
          href="#contacto"
        >
          ¡Contactanos!
        </a>
      </div>
    </div>
    <img
      class="w-full md:w-1/2 hidden md:block
  relative rounded-xl
  backdrop-blur-md
  border border-yellow_primary
  shadow-inner shadow-yellow_primary/10
  group"
      src="/assets/example-header-pic.jpg"
      alt="Teatro Serpiente"
    />
  </section>
</header>
