<div id="inscriptions">
  <section class="pt-32 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-screen-xl">
      <h1
        class="text-4xl font-semibold text-center text-wrap mx-auto tracking-wide uppercase"
      >
        Inscripciones
      </h1>
      <p
        class="p-4 text-lg text-center text-wrap tracking-wide my-4 text-yellow-50 max-w-[700px] mx-auto"
      >
        Las inscripciones se realizan al momento de sumarte a nuestros talleres
        por <b class="text-yellow_primary">WhatsApp</b> al <a
          href="https://wa.me/+5493425911295"
          class="transition duration-500 ease-in-out transform hover:underline hover:text-yellow_primary"
          target="_blank"
          rel="noopener noreferrer"
          ><b class="text-yellow_primary">+54 342 5911295</b></a
        >.
      </p>
    </div>
  </section>
</div>
