---
import HeaderLink from "@components/HeaderLink.astro";

import MenuIcon from "@icons/Menu.astro";
import Logo from "./Logo.astro";
---

<nav class="top-0 w-full px-6 py-4 z-50 bg-black_primary/40 shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <a
          href="https://www.instagram.com/teatroserpiente/"
          class="text-white hover:scale-125 duration-500"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Logo class="w-20 rounded-full" />
        </a>
      </div>
      <div class="hidden md:flex items-center space-x-5 text-xl">
        <HeaderLink href="#">Principal</HeaderLink>
        <HeaderLink href="#about-us">Quiénes somos</HeaderLink>
        <HeaderLink href="#workshops">Talleres</HeaderLink>
        <HeaderLink href="#inscriptions">Inscripciones</HeaderLink>
        <HeaderLink href="#what-people-say">Qué dicen lxs viboritxs</HeaderLink>
        <HeaderLink href="#contact-form">Contacto</HeaderLink>
      </div>
      <div class="md:hidden flex items-center">
        <button class="outline-none mobile-menu-button">
          <MenuIcon class="w-6 h-6 text-gray-600" />
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center hidden mobile-menu text-lg">
    <HeaderLink href="#">• Principal</HeaderLink>
    <HeaderLink href="#about-us">• Quiénes somos</HeaderLink>
    <HeaderLink href="#workshops">• Talleres</HeaderLink>
    <HeaderLink href="#inscriptions">• Inscripciones</HeaderLink>
    <HeaderLink href="#what-people-say">• Qué dicen lxs viboritxs</HeaderLink>
    <HeaderLink href="#contact-form">• Contacto</HeaderLink>
  </div>
</nav>

<script>
  const btn = document.querySelector("button.mobile-menu-button");
  const menu = document.querySelector(".mobile-menu");

  btn?.addEventListener("click", () => {
    menu?.classList.toggle("hidden");
  });
</script>
