---
import Testimonial from "@components/Testimonial.astro";
import testimonials from "@data/testimonials";
---

<div id="what-people-say">
  <section class="pt-32 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-screen-xl">
      <h1
        class="text-4xl font-semibold text-center text-wrap mx-auto tracking-wide uppercase"
      >
        Qué dicen lxs viboritxs
      </h1>
      <div class="grid md:grid-cols-3 gap-4 my-4">
        {
          testimonials.map((testimonial) => (
            <Testimonial testimonial={testimonial} />
          ))
        }
      </div>
    </div>
  </section>
</div>
