---
import Testimonial from "@components/Testimonial.astro";

const testimonials = [
  {
    image: "/assets/user_default.webp",
    name: "Delfina",
    age: 14,
    comment:
      "Los talleres en Teatro Serpiente transformaron mi comprensión de la actuación. Los instructores son apasionados y conocedores, creando un ambiente de apoyo donde pude tomar riesgos y crecer como intérprete.",
  },
  {
    image: "/assets/user_default.webp",
    name: "Abril",
    age: 18,
    comment:
      "Ser parte de las producciones de Teatro Serpiente ha sido un viaje increíble. La atención al detalle, el espíritu colaborativo y el compromiso con la excelencia artística hacen que esta compañía sea verdaderamente especial.",
  },
  {
    image: "/assets/user_default.webp",
    name: "Valentino",
    age: 16,
    comment:
      "El taller de dramaturgia me dio las herramientas y la confianza para desarrollar mi primera obra completa. El proceso de retroalimentación fue invaluable, y estoy agradecida por la tutoría que recibí de los instructores experimentados.",
  },
];
---

<div id="what-people-say">
  <section class="pt-32 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-screen-xl">
      <h1
        class="text-4xl font-semibold text-center text-wrap mx-auto tracking-wide uppercase"
      >
        Qué dicen lxs viboritxs
      </h1>
      <div class="grid md:grid-cols-3 gap-4 my-4">
        {
          testimonials.map((testimonial) => (
            <Testimonial testimonial={testimonial} />
          ))
        }
      </div>
    </div>
  </section>
</div>
