---
import CONTACT_INFO from "@data/contactInfo";
---

<div id="workshops">
  <section class="pt-32 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-screen-xl">
      <h1
        class="text-4xl font-semibold text-center text-wrap mx-auto tracking-wide uppercase"
      >
        Talleres
      </h1>
      <p
        class="p-4 text-lg text-center text-wrap tracking-wide my-4 text-yellow-50 max-w-[700px] mx-auto"
      >
        Actualmente contamos con diferentes talleres para adolescentes (15 a 18)
        y un taller para pre-adolescentes (10 a 14).
      </p>
    </div>
    <div class="text-center mt-12">
      <a
        href={`https://wa.me/${CONTACT_INFO.contact.whatsappNumber}`}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block px-8 py-3 bg-[#e9e70a] text-black font-semibold rounded-md hover:bg-opacity-80 transition-colors"
      >
        Inscribíte a un Taller vía WhatsApp
      </a>
    </div>
  </section>
</div>
