---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import NavBar from "@components/NavBar.astro";
import "@fontsource-variable/big-shoulders-text";
import "@fontsource/poiret-one";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta name="description" content="Teatro de la ciudad de Santa Fe" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/assets/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Teatro Serpiente - Cambiá la piel</title>
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Teatro Serpiente - Cambiá la piel" />
    <meta property="og:description" content="Teatro de la ciudad de Santa Fe" />
    <meta property="og:image" content="/assets/logo.webp" />
    <meta property="og:url" content="https://teatro-serpiente.vercel.app/" />
    <meta property="og:type" content="website" />
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="/assets/example-header-pic.webp" />
    <meta name="twitter:title" content="Teatro Serpiente - Cambiá la piel" />
    <meta
      name="twitter:description"
      content="Teatro de la ciudad de Santa Fe"
    />
    <meta name="twitter:image" content="/assets/logo.webp" />
  </head>
  <body>
    <NavBar />
    <Header />
    <main>
      <slot />
      <SpeedInsights />
      <Analytics />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
    --entry-animation: -20px;
    --cover-animation: 20px;
  }
  body {
    background-color: black;
    color: yellow;
    font-weight: 600;
    font-family: "Poiret One", sans-serif;
  }
</style>
