---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import NavBar from "@components/NavBar.astro";
import "@fontsource-variable/big-shoulders-text";
import "@fontsource/poiret-one";
---

<!doctype html>
<html lang="es">
  <head>
    <meta name="description" content="Teatro de la ciudad de Santa Fe" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/assets/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Teatro Serpiente - Cambiá la piel</title>
  </head>
  <body>
    <NavBar />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
    --entry-animation: -20px;
    --cover-animation: 20px;
  }
  body {
    background-color: black;
    color: yellow;
    font-family: "Big Shoulders Text Variable", sans-serif;
  }
</style>
